<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
<div style="text-align: right; padding: 10px; border-bottom: 1px solid #ccc;">


<!--  <div class= "logout-area">-->
<!-- <nav>
<ul>
<li><a th:href="@{/}">Home</a></l

  <li sec:authorize="isAuthenticated()">
<a th:href="@{/change-password}">Change Password</a>
</li>

</ul>
</nav> -->


<div style="text-align: right;">
<a href="/customer/profile">
<img src="/img/profile.png"  style="width: 30px; height: 30px;" />
</a>
</div>

</div>
</div>
</div>
</body>
</html>